extends ../base


block content
    section.email-message
        h1.title #{subject}
        p Hi, #{firstName}
        p The link to change your password can be found below and it expires in 10 minutes. 
        p If you didn't request to change your password, please ignore this message. 
        
        div.link-container
            a(href=url target="_blank" class="btn") Reset your password  

        p We are always here to provide you with a new reset link if the one above has already expired &mdash; repeat the same process to recieve a new reset link.

