extends ../base


block content
    section.email-message
        h1.title #{subject}
        p Hi, #{firstName}
        p We are very glad to have you join us at Contrib. It's not just about making savings or contribting to a cause, it's about taking a step towards your set goal and the community you will be in fighting the odds against you.
        
        div.link-container
            a(href=url target="_blank" class="btn") Login  

        p The sky is your limit, soar high.
        p You are very welcome once again.

