doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='css/style.css')
        link(rel="shortcut icon", type='image/png' href='image/logo')
        title Contrib

    body
        h1 The Contrib Community
        p This is just some texts